.vertical-menu{
    width:0px;
    display:none;
}

#page-topbar {
   left: -240px; 
}

.main-content {
    margin-left:0px;
}

.brand-logo{
    margin-left: 52px;
    width: 50%;
    margin-top: 2px;
}

@media (max-width: 992px) {
.brand-logo {
	padding-left: 180px;
}



