.headings-post {
    background-color: #2f77ad  !important;
    opacity: 81%;
}

.dropdown-menu .dropdown-menu-right .show{
    transform: translate(-24px, 60px)!important;
}

/*    .card-img-top image{*/
/*            margin-left: 220px;*/
/*            height: 200px;*/
/*        }*/
/*    @media only screen and (max-width: 400px) {*/
/*         .card-img-top image{*/
/*          margin-left: 1px;*/
/*  }*/
/*}*/